<!DOCTYPE html>
<html>

<head>

<title>
Mobile Center
</title>

<link rel="stylesheet"
href="/stylesheets/style.css">

</head>

<body>

<h1>
Products
</h1>

<div class="products">

<% products.forEach(product=>{ %>

<div class="card">

<img
src="<%= product.image %>">

<h2>
<%= product.name %>
</h2>

<p>
<%= product.price %> ֏
</p>

</div>

<% }) %>

</div>

</body>

</html>